@media (max-width: 1024px) {
    .slideshow-container {
        display: none;
    }
}

@font-face {
    font-family: 'inter';
    src: url('inter_font.ttf');
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

body {
    font-family: 'inter', serif;
    margin: 0;
    padding: 0;
}

.logo {
    height: 72px;
}

.company_name {
    font-size: x-large;
    color: #474747;
}

/* HEADER */
header {
    background-color: #FBFCFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    height: 72px;
    /* border: 1px solid black; */
    z-index: 99;
}

header img {
    margin: 0;
}

.nav_bar {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    height: inherit;
    margin-right: 5%;
    color: #d9d9d9;
}

.current {
    background-color: #D0CCD0;
}

.nav_item {
    margin: 0;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 100px;
    vertical-align: middle;
    justify-content: space-evenly;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    margin-top: 72px;
    /*to leave header space*/
    width: 100%;
}

#home_banner {
    background-color: #465775;
    display: flex;
    flex-direction: row;
    height: 300px;
    color:#f0f0f5;
}

#home_banner_text {
    flex: 1;
    margin-left: 5%;
    margin-top: 3%;
    margin-right: 5%;
}

#home_banner_text b {
    font-size: x-large;

}

#home_banner_text p {
    font-size: large;
}

.action-button {
    display: flex;
    flex-direction: column;
    width:150px;
    height: 50px;
    border-radius: 5px;
    color: white;
    background-color: #df2935;
    text-align: center;
    vertical-align: middle;
    justify-content: space-evenly;
}

/* Slideshow container */
.slideshow-container {
    display: inline-block;
    max-width: 1000px;
    position: relative;
    margin: auto;
    flex: 1;
    height: 300px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides > img {
    object-fit: cover;
    height: 300px;
}

/* Add a background color to the active dot/circle */
.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.home_item_table {
    display: flex;
    flex-direction: column;
}

.home_item_table_row {
    vertical-align: top;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home_item_table_row>td {
    width: 30%;
}

.home_item_table > a {
    color: #DF2935;
}

#home_item {
    padding: 5%;
    background-color: #FBFCFF;
}

.home_item_table_item {
    margin: 0px 15px 0px 15px;
    background-color: #28AFB0;
    display: flex;
    flex-direction: column;
    min-height: 340px;
    position: relative;
    color: #FBFCFF;
    border-radius: 5px;
}

.home_item_table_item_image-container >img {
    max-height: 250px;
    /* Make sure images are scaled correctly. */
    width: 100%;
    /* Adhere to container width. */
    display: block;
    margin-bottom: 15px;
}

.home_item_table_item>strong,p,a {
    margin-left: 20px;
    margin-right: 20px;
}

.home_item_table_item>a {
    /* position: absolute; */
    /* bottom: 20px; */
    margin-bottom: 20px;
}

/* FOOTER */
footer {
    background-color: #465775;
    color: #FBFCFF;
    padding: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
    /* margin-top: 30px; */
    display: flex;
    flex-direction: row;
    column-gap: 10%;
}

.footer_column {
    flex: 3;
    text-align: left;
}

footer button {
    width: 90%;
}

footer tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer a {
    color: #FBFCFF;
    margin-left: 0px;
}

body {
    font-family: 'inter', serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    margin-top: 72px;
    /* margin-right: 10%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer td {
    width: 30%;

    height: inherit;
    text-align: left;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}

footer p {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

#main-image {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

#small-image {
    width: 22%;
    margin-right: 5px;
}

#quantity {
    width: 18%;
    height: 8%;
    text-align: center;
    margin: 0%;
    padding: 0%;
}

#quantityButton {
    width: 20%;
    height: 10%;
    text-align: center;
    margin: 0%;
    padding: 0%;
}

#cartButton {
    margin-top: 5%;
    margin-right: 5%;
    width: 40%;
    height: 20%;
}

#buyButton {
    margin-top: 5%;
    width: 40%;
    height: 20%;
}

footer button {
    width: 50%;
}

/* header {
    background-color: #f0f0f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    height: 72px;
} */

/* SIGN IN DIALOG */
.signin-dialog {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
    min-width: 400px;
    /* border: 1px solid black; */
    align-items: center;
    background-color: #465775;
    border-radius: 5px;
    text-align: center;
}

.signin-dialog > h2 {
    margin-bottom: 0px;
    color: #FBFCFF;
}

.signin-dialog > input {
    border-radius: 50px;
}

input[type=reset], input[type=submit] {
    font-size: large;
    text-align: center;
}

#signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-bottom: 5%;
}

#signup-form input {
    height:35px;
    width: 100%;
    margin-top: 5px;
}

#signup-form input[type=submit] {
    min-width: 60px;
    min-height: 60px;
}

#submit-field { 
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
