@media (max-width: 600px) {
    /* styles for small screens */
    header, main, footer {
        width: 100%;
    }
    nav ul {
        display: block;
        text-align: center;
    }
}

@font-face {
    font-family: 'inter';
    src: url('inter_font.ttf');
}

footer {
    background-color: #f0f0f5;
    color: black;
    padding: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
    display:flex;
    flex-direction: row;
    column-gap: 10%;
}

body {
    font-family: 'inter', serif;
    margin:0;
    padding:0;
}

main { 
    margin-top: 72px;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
}

.logo {
    height: 72px;
}

.footer_column {
    flex: 3;
    text-align: left;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}   

nav li {
    margin-right: 20px;
}

footer button {
    width: 50%;
}

header {
    background-color: #f0f0f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    height: 72px;
}